*{
	margin: 0px;
	padding: 0px;
}

.clr{
	clear: both;
}

.body{
	font-family: Arial;
	font-size: 11px;
}
h1{
	color: white;
	font-family: Arial;
}
.main{
	max-width: 100%;	
	margin: auto;	
}

.top{	
	max-width: 100%;
	height: 52px;
	background-color:black;	
}

.top-left{	
	float:left;
	max-width:30%;
	height:52px;
	
}
.icon-logo{
	float: left;
	padding-left: 100px;
}
.info-top-left{
	float: right;
	padding-right: 10px;
	padding-top: 7px;
}

.top-center{
	float: right;
	max-width:40%;
	height:52px;
	
}
.icon-home{
	float: left;
	padding-left: 250px;
}
.top-center a{
	float: right;
	padding-top: 10px;
	text-decoration: none;
}
.top-center a:hover{
	color: white;
	text-decoration: underline;
}

.top-right{
	float: right;
	max-width:30%;
	height:52px;
	margin: auto;
	
}
.icon-user{
	float: left;
	padding-top:5px;
	padding-left: 50px;
}
.top-right a{
	float: right;
	padding-right: 60px;
	padding-top: 10px;
	text-decoration: none;
}
.top-right a:hover{
	color: white;
	text-decoration: underline;
}

.header{
	margin-top: 3px;
	background-image:url(background2.jpg);
	height:350px;
	max-width:100%;
	background-repeat: no-repeat;
    background-position: center;
}

.header-left{
	float: left;
	height: 350px;
	width: 60%;	
}

.avatar {
	float: left;
	padding-top: 180px;
	padding-left: 100px;
}

.name{
	float: right;
	padding-top: 280px;
	padding-right: 300px;
}

.content{	
	max-width:100%;
	height: 350px;
	background-color: #CDCDCD;
	margin-top: 4px;
}

h2{
	font-family: Arial;
	font-size: 30px;
}

.content-left{
	float: left;
	height: 350px;
	width: 30%;	
}

.content-righ{
	float:right;
	height: 350px;
	width: 70%;
}
.content-left div{
	float: right;
	padding-top: 90px;
	padding-right: 50px;	
}

.content-right ul{
	padding-top: 90px;
}

.footer{
	max-width: 100%;
	height: 52px;
	background-color:black;
	margin-top:3px;	
}

.footer-left{
	float: left;
	height:52px;
	width: 50%;
	
}

.footer-right{
	float: right;
	height:52px;
	width: 30%;
	
}

.info-footer-left{
	float: right;
	padding-right: 320px;
	padding-top: 10px;
}

.info{
	float: right;
	padding-top: 10px;
	padding-right: 10px;
}

